@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    width: 1200px;
    min-height: 1000px;
    margin: 0 auto;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.head {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 500px;
    background-image: url(./images/piscine_temp_head.jpg);
    background-size: cover;
}

.head_block {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 20px;

}

h1 {
    color: #fff;
    font-size: 45px;
    margin-bottom: 20px;
}

.header_p {
    font-size: 26px;
}

.nav {
    display: flex;
    position: sticky;
    top: 0;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background-color: #ececec;
}

.nav_block {
    display: flex;
    flex-flow: column;
    
}

.nav_text {
    padding: 6px;
    margin: auto;
    color: #575757;
    font-size: 23px;
}

.nav_cost{
    margin: auto;
    font-size: 30px;
    color: #575757;

}

.nav_price{
    font-weight: 500;
    margin: 7px auto;
    font-size: 30px;
    color: #000;

}

.nav_center_block{
    padding: 0 30px;
    border-left: 3px solid #998d8d;
    border-right: 3px solid #998d8d;
}

.nav_left_block {
    padding: 2px;
    border: 3px solid #5d8c8c;
    border-radius: 25px;

}

.center_block_speakers {
    display: flex;
    flex-flow: column;
    justify-content: start;
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    padding-bottom: 40px;
}

h2 {
    text-transform: uppercase;
    margin: 40px 0 0 20px;
    font-size: 40px;
    color: #575757;
}

.speakers {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    width: 100%;
    margin-top: 30px;
}

.speaker {
    align-items: center;
    flex-flow: column;
    display: flex;
    width: 30%;
}

.speaker_text {
    font-family: auto;
    line-height: 30px;
    font-size: 20px;
    color: #575757;
}

.speaker_img1 {
    width: 75%;
}

.speaker_name {
    margin: 20px 0;
    font-weight: 500;
    font-size: 25px;
    color: #000;
}

.center_block_target{
    display: flex;
    width: 100%;
    min-height: 100px;
    padding: 40px 20px;
    background-color: #b8dede;
}

.target_block_left{
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.target_block_right{
    margin: auto;
    padding: 20px;
}

.img_ms_target{
    width: 85%;
}

.target_header{
    font-weight: 500px;
    font-size: 40px;
}

.target_text{
    font-size: 30px;
    margin: 20px 20px;
}

.center_topic_block{
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 40px 20px;
}

.topic_header{   
    font-weight: 500px;
    font-size: 40px;
    margin: auto; 
    color: #575757;
    padding-bottom: 20px;
}

.topic_text{
    margin-left: 20px;
    list-style: inside;
    font-size: 30px;
    line-height: 40px;
    color: #575757;
}
